.apt_generated/
.classpath
.DS_Store
.externalToolBuilders/
.gradle
.gradle/
.gwt-tmp/
.gwt/
.idea/
.loadpath
.metadata
.metadata/
.project
.settings/
*.bak
*.class
*.ear
*.iml
*.ipr
*.iws
*.launch
*.swp
*.tmp
*.war
**/bin/
**/nbproject/private/
*~.nib
/android/bin/
/android/build/
/android/dist/
/android/gen/
/android/libs/arm64-v8a/
/android/libs/armeabi-v7a/
/android/libs/armeabi/
/android/libs/x86_64/
/android/libs/x86/
/android/nbbuild/
/android/nbdist/
/android/nbproject/private/
/android/out/
/build/
/core/bin/
/core/build/
/core/dist/
/core/nbbuild/
/core/nbdist/
/core/nbproject/private/
/desktop/bin/
/desktop/build/
/desktop/dist/
/desktop/nbbuild/
/desktop/nbdist/
/desktop/nbproject/private/
/dist/
/html/bin/
/html/build/
/html/dist/
/html/gwt-unitCache/
/html/nbbuild/
/html/nbdist/
/html/nbproject/private/
/html/war/
/ios-moe/bin/
/ios-moe/build/
/ios-moe/dist/
/ios-moe/nbbuild/
/ios-moe/nbdist/
/ios-moe/nbproject/private/
/ios/bin/
/ios/build/
/ios/dist/
/ios/nbbuild/
/ios/nbdist/
/ios/nbproject/private/
/ios/robovm-build/
/local.properties
/nbbuild/
/nbdist/
/nbproject/private/
android/gen/
android/libs/armeabi-v7a/
android/libs/armeabi/
android/libs/x86/
build/
com_crashlytics_export_strings.xml
dist/
gradle-app.setting
gwt-unitCache/
hs_err_pid*
html/gwt-unitCache/
html/war/gwt_bree/
html/war/WEB-INF/classes/
html/war/WEB-INF/deploy/
local.properties
nb-configuration.xml
nbactions.xml
nbbuild/
nbdist/
out/
Thumbs.db
tmp/
war/
www-test/
